body{font-family:  arial, verdana, sans-serif; 
      margin:0; padding:0;
      min-width:1010px;
      background-color:#e0ffe0;

}   
a { text-decoration:none;}

strong{font-weight: normal;}

div#listmenu {
        color:#fff;
	width:100%;
	float:left;	
	font-size:1em;
	background-color:#375935; 
        min-width:1010px;
	}
div#listmenu li {
        z-index:1;
        margin: 0px;
        padding: 0px 4px;
	float:right;	
	position:relative; 
	list-style-type:none;
        height:2.7em;
        text-align:center;
	}
div#listmenu li ul li{
        height:auto;
        padding:5px 0px;
        }
div#listmenu ul li span{
    display:block; 
    padding:2px 12px;
    }
div#listmenu ul {
        margin: 0px;
        padding: 0px;
        margin-left: 125px;
}
div#listmenu ul li:hover { 
	background-color:#426F42	; 
	}
div#listmenu a {
	display:block; 
	padding:2px 12px;  
	text-decoration:none;	
	color:#FFF;
	}
div#listmenu ul li ul {
        background-color:#426F42	; 
	position:absolute; 
        margin-left: 0px;
	}
div#listmenu ul li ul li {
	width:100%; 
	}
div#listmenu ul li ul li:hover {
	background-color:#548B54; 
	}

div#listmenu ul li ul {display:none;} 
div#listmenu ul li:hover ul {display:block; } 

div#listmenu ul li ul li ul  {
         background-color:#548B54;
	 visibility:hidden; 
         top:0px;
         left:7em;
	}
div#listmenu ul li ul li:hover ul {visibility:visible;} 

div#listmenu ul li ul li ul li:hover {
	background-color: #6EA96E;
	}


div.clearfloats {clear:both;}

div#listmenu ul li ul li:hover ul li ul {display:none;}
div#listmenu ul li ul li ul li:hover ul {display:block; }  
div#listmenu ul li ul li ul li:hover ul {visibility:visible;}
div#listmenu ul li ul li ul li ul {background-color: #6EA96E;}

div#listmenu ul li ul li ul li ul li:hover{background-color: #82B482;}

#funny{
  animation: blinker 1s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}